<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<table>
    <tr>
        <th>id</th>
        <th>username</th>
        <th>email</th>
    </tr>
        <% for(user of result) { %>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <td>
                <form method="GET" action = "/user/<%= user.id %>/edit" >
                    <button>Edit user</button>
                </form>
        </td>
        </tr>
        <% } %>
</table>
<script src = "editButton.js"></script>
</body>
</html>